
body,
.mac,
.codicon[class*=codicon-] {
  -webkit-font-smoothing: subpixel-antialiased !important;
}

.chat-markdown {
  font-family: inherit !important;
}





/* vscode: 滚动条 -Start */
.monaco-list .monaco-scrollable-element>.scrollbar.vertical,
.monaco-list .monaco-scrollable-element>.scrollbar.vertical>.slider {
  width: 6px !important;
}

.monaco-list>.monaco-scrollable-element {
  padding: 2px;
}

.monaco-scrollable-element>.scrollbar>.slider {
  border-radius: 6px;
}

/* vscode: 滚动条 -End */




/* vscode: 所有图标、字体大小 -Start */
.monaco-workbench .part.editor>.content .editor-group-container.active>.title .tabs-container>.tab>.tab-actions .action-label.codicon,
.monaco-workbench>.notifications-center>.notifications-center-header>.notifications-center-header-title,
.monaco-pane-view .pane>.pane-header h3.title,
.monaco-workbench .part>.title>.title-label h2 {
  font-size: 13px !important;
}

.twisty-container.codicon-view-pane-container-collapsed.codicon {
  font-size: 14px;
}

.monaco-workbench .codicon[class*=codicon-] {
  line-height: unset;
}



@media (-webkit-min-device-pixel-ratio: 2),(min-resolution:192dpi) {
  .icube-chat-view-container.icube-chat-view-container {
    -webkit-font-smoothing: subpixel-antialiased !important;
  }
}

.monaco-icon-label:before {
  background-size: 14px;
}

.context-view .monaco-breadcrumbs-picker .monaco-tl-twistie.collapsible:before,
.icube-simple-style.monaco-workbench .sidebar .pane-header .twisty-container.codicon,
.icube-simple-style .explorer-folders-view .monaco-tl-twistie.collapsible:before {
  width: unset;
  height: unset;
  font-size: 18px;
}

.monaco-workbench .monaco-breadcrumb-item .codicon[class*=codicon-] {
  font-size: 16px;
  width: unset;
  height: unset;
  color: inherit !important;
}


.monaco-tl-twistie {
  padding-right: 2px;
}
.monaco-icon-label:before {
  padding-right: 4px;
}
.monaco-tl-twistie::before {
  font-size: 18px;
}

span.monaco-highlighted-label{
  display: flex;
}
/* vscode: 所有图标、字体大小 -End */



